<h1>High Scores for <%= @photo.title %></h1>
<table>
  <th>
    <td>Name</td>
    <td>Time</td>
  </th>
  <% @scores.each do |score| %>
    <tr>
      <td><%= score.name %></td>
      <td><%= score.time %></td>
    </tr>
  <% end %>
</table>

